.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-a {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  text-decoration: none !important;
}
.navbar .navbar-brand span:nth-child(1) {
  font-weight: 300;
  font-size: 2.5rem;
}
.navbar .navbar-brand span:nth-child(2) {
  font-weight: 800;
  font-size: 1.7rem;
  font-family: 'Comforter', cursive;
}
.navbar .navbar-nav a {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  margin: 1rem;
  color: #222;
  align-items: center;
}
.navbar .navbar-nav a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #CFA670;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.navbar .navbar-nav a:hover {
  color: #CFA670;
}
.navbar .navbar-nav a:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}
.navbar .navbar-nav .btn-res {
  font-weight: 800;
  margin: 1rem;
  padding: 0.1rem 1rem;
  color: #222222;
  border-style: solid;
  border-width: 2px;
  border-color: #222222;
  border-radius: 5px;
}
.navbar .navbar-nav .btn-res::before {
  display: none;
}
.navbar .navbar-nav .btn-res:hover {
  background: #CFA670;
  color: #fff;
  border-width: 2px;
  border-color: transparent;
  transition: 0.5s ease-in-out;
}

 #slide{
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
  }
  #slide::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.2;

  }
  #slide .content {
      position: relative;
      padding: 7rem 0rem;
      text-align: center;
  }
  #slide .content span {
    font-family: 'Comforter', cursive;
    font-weight: 700;
    font-size: 4rem;
    color: #CFA670;
  }
  #slide h1 {
    font-weight: 800;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1em;
    color: #1A3853;
  }


/******************Location************/

#location h2 {
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #1A3853;
  line-height: 1.2em;
}
#location span {
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}
#location .para {
  font-family: 'Comforter', cursive;
  font-weight: 800;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #CFA670;
} 
#location .slim-img img{
  border-radius: 5px;
}

#location .own {
  background: #fff;
  box-shadow: 0px 2px 60px 0px rgb(0 0 0 / 10%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: -40px 0px 10px -100px;
  padding: 70px 20px 100px 20px;
  border-radius: 5px;
}
#location .own span {
  font-family: 'Comforter', cursive;
  font-weight: 700;
  font-size: 2rem;
  color: #CFA670;
}
#location .own h4 {
  font-weight: 800;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #1A3853;
  line-height: 1.2em;
}
#location .own a {
  font-weight: 700;
  font-size: 1.3rem;
  text-decoration: underline !important;
  color: #CFA670;
}

/****************Breakfast Menu****************/
#menu-lunch {
  background: #fdfdfd;
}
#menu-breakfast span,
#menu-lunch span,
#menu-dinner span {
  font-family: 'Comforter', cursive;
  font-weight: 600;
  font-size: 1.4rem;
  color: #CFA670;
  letter-spacing: 2px;
}
#menu-breakfast h2,
#menu-lunch h2,
#menu-dinner h2 {
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1.4;
  line-height: 2;
  color: #1A3853;
}
#menu-breakfast .list-items .list-item,
#menu-lunch .list-items .list-item,
#menu-dinner .list-items .list-item {
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
  transition: padding .3s;
}
#menu-breakfast .list-items .list-item h5,
#menu-lunch .list-items .list-item h5,
#menu-dinner .list-items .list-item h5 {
  font-weight: 500;
  font-size: 1rem;
}
#menu-breakfast .list-items .list-item p,
#menu-lunch .list-items .list-item p,
#menu-dinner .list-items .list-item p {
  font-size: 0.8rem;
}
#menu-breakfast .list-items .list-item:hover,
#menu-lunch .list-items .list-item:hover,
#menu-dinner .list-items .list-item:hover {
  padding-left: 5px;
  border-bottom: 1px solid #818181;
}
#menu-breakfast .btn,
#menu-lunch .btn,
#menu-dinner .btn {
position: relative;
font-weight: 500;
color: #000;
padding: 0.5em 1em;
margin-top: 2rem;
outline: none;
border: 1px solid #222222;
border-radius: 0;
}
#menu-breakfast .btn:focus,
#menu-lunch .btn:focus,
#menu-dinner .btn:focus {
  outline: 0;
  box-shadow: none;
}
#menu-breakfast .btn::before,
#menu-lunch .btn::before,
#menu-dinner .btn::before {
content: '';
z-index: -1;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: #CFA670;
transform-origin: center right;
transform: scaleX(0);
transition: transform 0.25s ease-in-out;
}
#menu-breakfast .btn:hover::before,
#menu-lunch .btn:hover::before,
#menu-dinner .btn:hover::before {
transform-origin: center left;
transform: scaleX(1);
}

/*****************Reservation******************/

#reservation {
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}
#reservation::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.3;
}
#reservation .btn {
  position: relative;
  background: transparent;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem 1.4rem;
  margin-top: 2rem;
  align-items: center;
  letter-spacing: 1px;
  border: 3px solid #fff;
  border-radius: 0;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
#reservation .btn:hover {
  background: #CFA670;
  border: 0;
  transition: all 0.4s ease-in-out;
}
#reservation p {
  position: relative;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #fff;
}

/****************Footer****************/
#footer  {
  background: #1A3853;
}
#footer .footer-top {
  display: block;
  align-items: center;
  align-content: center;
}
#footer .footer-top .logo a span:nth-child(1){
  font-weight: 500;
  font-size: 3rem;
  color: #fff;
}
#footer .footer-top .logo a span:nth-child(2) {
  font-family: 'Comforter', cursive;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}
#footer .footer-top p {
  font-size: 0.9rem;
  line-height: 1.4;
  padding-top: 1rem;
  color: #fff;
}
#footer .footer-top .socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .socials ul li {
  display: inline-block;
  margin: 0.8rem;
}
#footer .footer-top .socials ul li:nth-child(1){
  margin-left: 0px;
}
#footer .footer-top .socials ul li a .sh {
  font-size: 1rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#footer .footer-top .socials ul li a .sh:hover {
  color: #CFA670;
  transition: all 0.3s ease-in-out;
}
#footer .footer-top .menu-footer h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #fff;
}
#footer .footer-top .menu-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .menu-footer ul li {
  font-size: 0.9rem;
  margin-top: 10px;
}
#footer .footer-top .menu-footer ul li a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#footer .footer-top .menu-footer ul li a:hover {
  color: #CFA670;
  padding-left: 5px;
  transition: all 0.3s ease-in-out;
}
.footer-bottom{
  background: rgb(43, 42, 42);
  color: #fff;
  bottom: 0;
}
.footer-bottom .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  /****************Media Query****************/

  @media screen and (max-width: 550px) {
     #slide h1 {
        font-weight: 800;
        font-size: 3rem;
        text-transform: uppercase;
        line-height: 1em;
        color: #1A3853;
      }
  }

  @media screen and (max-width: 990px) {
    #location .slim-img {
        margin-bottom: 2rem;
      }
  }
  @media screen and (max-width: 990px) {
    #location .own {
        margin: 0px 0px 10px -100px;
      }
  }

  @media screen and (max-width : 480px) {
      #location .own {
        padding: 70px 20px 70px 100px;
      }
  }
  @media screen and (max-width : 668px) and (max-width : 680px) {
    #location .own {
      padding: 70px 25px 70px 24px;
      margin: 0px 0px 10px -5px;
    }
}
@media screen and (max-width : 680px){
    #location .own {
        padding: 70px 25px 70px 24px;
        margin: 0px 0px 10px -5px;
      }
}
@media screen and (max-width : 992px) {
  #location {
    margin-top: -14rem;
  }
}
@media screen and (max-width : 768px) {
  #location {
    margin-top: -40rem;
  }
}


